<app-navbar [admin]="admin"></app-navbar>
<router-outlet></router-outlet>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Informationen zu statistischen Geschwindigkeitserhebungen des Kantons Basel-Stadt
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Die Visualisierung der Geschwindigkeitserhebungen basiert auf Messdaten der <a href="http://www.polizei.bs.ch/" target="_blank">Kantonspolizei Basel-Stadt</a>, welche zu statistischen Zwecken erhoben wurden. Die Daten wurden im Rahmen eines Open Government Data Pilotprojektes von der <a target="_blank" href="http://www.digitale-nachhaltigkeit.unibe.ch/">Forschungsstelle Digitale Nachhaltigkeit</a> der Universität Bern visualisiert.</p>

    <ul>
      <li>
        Die Punkte in der Karte bilden die Übertretungsquote in der jeweiligen Strasse ab.
      </li>
      <li>
        Durch näheres Heranzoomen erscheinen in der Karte statt der Punkte Pfeile für die einzelnen Richtungen.
      </li>
      <li>
        Für jeden Punkt bzw. Pfeil sind in einem Anzeigefeld weitere Informationen (wie die Anzahl gemessener Fahrzeuge und die Durchschnittsgeschwindigkeit) einsehbar.
      </li>
      <li>
        Durch Klicken auf einen Punkt bzw. Pfeil erscheint ein Säulendiagramm, welches die Messungen für einzelne Wochentage zeigt. Wird auf die Säule für einen Wochentag geklickt, erscheint ein weiteres Diagramm, in dem die Messungen pro Stunde an einem Tag angegeben werden. Die Farbe der Säulen bildet die Anzahl gemessener Fahrzeuge ab.
      </li>
    </ul>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Schliessen</button>
  </div>
</ng-template>
<button class="btn btn-primary m-2 p-2 px-3 infoBtn" id="openModal" (click)="openLg(content)">i</button>

