.infoBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  font-family: Georgia;
  z-index: 10000;
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

ul li {
  padding-bottom: 10px;
}
