app-map-tooltip {
  position: absolute;
  top: 0;
  left: 0;
}

/* Small screen */
/* Used for small screen or phone */
@media (min-width: 576px) {
  /* default 540px */
   .container {
     max-width: 540px;
  }
}

/* Medium screen */
/* Used for medium screen or tablet */
@media (min-width: 768px) {
  /* default 720px */
  .container {
  max-width: 720px;
  }
}

/* Large screen */
/* Used for large screen, Laptop or Desktop */
@media (min-width: 992px) {
  /* 960px */
  .container {
    max-width: 960px;
  }
}

/* Extra large screen */
/* Used for extra large screen or desktop */
@media (min-width: 1200px) {
  /* default 1140px */
  .container {
    max-width: 1140px;
  }
}

/* All bigger screens */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* All bigger screens */
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}