app-map-tooltip {
  position: absolute;
}

.map-tooltip {
  position: absolute;
  z-index: 450;
  background-color: white;
  opacity: .9;
  padding: 5px;
  margin-top: -100px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  pointer-events: none;
}

.map-tooltip table td {
  white-space: nowrap;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.colorSvg {
  width: 10px;
  height: 10px;
  overflow: visible;
  margin-left: 5px;
}

tr.header td {
  padding-top: 20px;
}
