<div  *ngIf="content" class="map-tooltip" id="tooltip" [style.left]="pxLeft + 'px'" [style.top]="pxTop + 'px'" [style.display]="display"
     [style.transform]="transform">
  <table>
    <tr>
      <td><strong>Strassenname:</strong></td>
      <td>{{content.streetName}}</td>
    </tr>
    <tr>
      <td><strong>Geschwindigkeitslimite:</strong></td>
      <td><span class="kmh-limit">{{content.speedLimit}}</span></td>
    </tr>
    <tr class="header">
      <td><strong>Fahrtrichtung 1</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Anzahl gemessener Fahrzeuge:</td>
      <td>
        {{content.count1}}
      </td>
    </tr>
    <tr>
      <td>Übertretungsquote:</td>
      <td>
        {{content.speedingQuoteDir1 * 100 | number:"1.2-2"}}%
        <svg class="colorSvg"><rect height="10" width="10" [attr.fill]="perc2Color(content.speedingQuoteDir1 * 100)"></rect></svg>
      </td>
    </tr>
    <tr>
      <td>Durchschnittsgeschwindigkeit:</td>
      <td>{{content.avgDir1}}&nbsp;km/h</td>
    </tr>
    <tr class="header">
      <td><strong>Fahrtrichtung 2</strong></td>
    </tr>
    <tr>
      <td>Anzahl gemessener Fahrzeuge:</td>
      <td>
        {{content.count2}}
      </td>
    </tr>
    <tr>
      <td>Übertretungsquote:</td>
      <td>
        {{content.speedingQuoteDir2 * 100 | number:"1.2-2"}}%
        <svg class="colorSvg"><rect height="10" width="10" [attr.fill]="perc2Color(content.speedingQuoteDir2 * 100)"></rect></svg>
      </td>
    </tr>
    <tr>
      <td>Durchschnittsgeschwindigkeit:</td>
      <td>{{content.avgDir2}}&nbsp;km/h</td>
    </tr>
    <tr class="header">
      <td><strong>Letzte Messung:</strong></td>
      <td>{{content.maxDate | date:'dd.MM.yyyy'}}</td>
    </tr>
  </table>
</div>
