<div  *ngIf="content" class="map-tooltip" [style.left]="pxLeft + 'px'" [style.top]="pxTop + 'px'" [style.display]="display"
     [style.transform]="transform">
  <table>
    <tr>
      <td>Strassenname:</td>
      <td>{{content.streetName}}</td>
    </tr>
    <tr>
      <td>Datum:</td>
      <td>{{content.date}}</td>
    </tr>
    <tr>
      <td>Durchschnittsgeschwindigkeit:</td>
      <td>{{content.avgSpeed}}</td>
    </tr>
    <tr>
      <td>Übertretungsquote:</td>
      <td>{{content.speedingQuote}}</td>
    </tr>
  </table>
</div>
