/*Styles for leaflet map*/
#map .svg-marker {
  overflow: visible;
}

#map .circle {
  r: 10;
  stroke: black;
  opacity: .7;
}

#map .circle:hover {
  opacity: 1;
  cursor: pointer;
}

#map .leaflet-div-icon {
  background: none;
  border: none;
}
