/*Styles for leaflet map*/
#map .svg-marker, #select-coordinates-map .svg-marker {
  overflow: visible;
}

#map .circle, #select-coordinates-map .circle {
  stroke: black;
  opacity: .7;
}

#map .circle:hover, #select-coordinates-map .circle:hover {
  opacity: 1;
  cursor: pointer;
}

#map .leaflet-div-icon, #select-coordinates-map .leaflet-div-icon {
  background: none;
  border: none;
}

#map circle.active {
  opacity: 1;
  stroke: black;
  stroke-width: 2;
}

#select-coordinates-map {
  cursor: pointer;
}

.big-modal .modal-dialog {
  max-width: 80%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

div.tooltip {
  position: absolute;
/*  width: 180px;
  height: 80px;*/
  padding: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none;
}

.arrowSvg {
  background-color: #ffffffd4;
  border-radius: 15px;
  margin-left: -15px;
  margin-top: -15px;
}

rect.clickable:hover {
  cursor: pointer;
  stroke: gray;
  stroke-width: 3px;
}

