<input #search class="search p-1 my-3"
       type="text" placeholder="Strasse suchen..."
       (keydown.enter)="onSearch(search.value)"> <!--TODO input action on keystroke-->
<button class="btn btn-outline-primary py-2 px-3 m-2"
        *ngIf="filterActive" (click)="onClearFilter()">
  Filter X
</button>
<ng2-smart-table [settings]="settings"
                 [source]="source"
                 (editConfirm)="onClickEdit($event)"
                 (createConfirm)="onClickCreate($event)"
                 (deleteConfirm)="onClickDelete($event)">
</ng2-smart-table>
