<div class="card mt-2" id="map-detail">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedMeasurement}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let measurement of measurements" (click)="selectMesaurement(measurement)">
              {{measurement}}
            </button>
          </div>
        </div>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="groupBy">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="'days'"> Tage
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="'hours'"> Stunden
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <app-d3graph [records]="graphDataDir1" [speedLimit]="radar?.speedLimit" [groupBy]="groupBy"></app-d3graph>
    </div>
    <div class="row mt-5" *ngIf="radar">
      <div class="col-12">
        <h3>Details:</h3>
        <div class="pt-2">
        <table class="table table-striped">
          <tr>
            <td>Strassenname:</td>
            <td>{{radar.streetName}}</td>
          </tr>
          <tr>
            <td>Datum:</td>
            <td>{{radar.date}}</td>
          </tr>
          <tr>
            <td>Ø (km/h) Richtung 1:</td>
            <td>{{radar.directionOneMeanKmh}}</td>
          </tr>
          <tr>
            <td>Ø (km/h) Richtung 2:</td>
            <td>{{radar.directionTwoMeanKmh}}</td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
