<div class="card mt-2" id="map-detail" *ngIf="visible">
  <div class="card-body">
    <div class="mb-3 header">
      <h2 class="mb-3 d-inline pb-1">{{header}}</h2>
      <p class="d-inline pb-1 ml-2"><span class="kmh-limit">{{radar.speedLimit}}</span></p>
    </div>
    <div *ngIf="loading">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Laden...</span>
    </div>
    <div *ngIf="!loading">
      <div class="row">
        <div class="col-12">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              {{selectedMeasurement.startDay | date:'dd.MM.yyyy'}} (Woche {{selectedMeasurement.week}})
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" *ngFor="let measurement of measurements"
                      (click)="selectMesaurement(measurement)">
                {{measurement.startDay | date:'dd.MM.yyyy'}} (Woche {{measurement.week}})
              </button>
            </div>
          </div>
          <div class="btn-group btn-group-toggle" (change)="changeDirection()" ngbRadioGroup name="direction" [(ngModel)]="directionOne">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true"> Richtung 1
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="false"> Richtung 2
            </label>
          </div>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="groupBy" [(ngModel)]="measure">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="'average'"> Durchschnitt
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="'speedingQuote'"> Übertretungsquote
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <app-d3graph *ngIf="radar" [data]="currentWeek" [radar]="radar" [speedLimit]="radar?.speedLimit"
                     [groupBy]="'days'" [measure]="measure" [clickable]="true" (clickEvent)="openDailyView($event)"></app-d3graph>
      </div>
      <div class="row">
        <div class="col s12">
          <h3 *ngIf="currentDay">{{dailyHeader}}</h3>
        </div>
        <app-d3graph *ngIf="currentDay" [measure]="measure" [data]="currentDay" [radar]="radar" [speedLimit]="radar?.speedLimit"
                     [groupBy]="'hours'" [clickable]="false"></app-d3graph>
      </div>
      <div class="row mt-5" *ngIf="radar">
        <div class="col-12">
          <h3>Details:</h3>
          <div class="pt-2">
            <table class="table table-striped">
              <tr>
                <td>Strassenname:</td>
                <td>{{radar.streetName}}</td>
              </tr>
              <tr>
                <td>Geschwindigkeitslimite:</td>
                <td><span class="kmh-limit">{{radar.speedLimit}}</span></td>
              </tr>
              <tr>
                <td>Übertretungsquote Fahrtrichtung 1:</td>
                <td>
                  {{radar.speedingQuoteDir1 * 100 | number:"1.2-2"}}%
                </td>
              </tr>
              <tr>
                <td>Durchschnittsgeschwindigkeit Fahrtrichtung 1:</td>
                <td>{{radar.avgDir1}}</td>
              </tr>
              <tr>
                <td>Anzahl Fahrzeuge Fahrtrichtung 1:</td>
                <td>
                  {{radar.count1}}
                </td>
              </tr>
              <tr>
                <td>Übertretungsquote Fahrtrichtung 2:</td>
                <td>
                  {{radar.speedingQuoteDir2 * 100 | number:"1.2-2"}}%
                </td>
              </tr>
              <tr>
                <td>Durchschnittsgeschwindigkeit Fahrtrichtung 2:</td>
                <td>{{radar.avgDir2}}</td>
              </tr>
              <tr>
                <td>Geschwindigkeitslimite:</td>
                <td>{{radar.speedLimit}} km/h</td>
              </tr>
              <tr>
                <td>Anzahl Fahrzeuge Fahrtrichtung 2:</td>
                <td>
                  {{radar.count2}}
                </td>
              </tr>
              <tr>
                <td>Letzte Messung (Start):</td>
                <td>{{radar.date | date:'dd.MM.yyyy'}}</td>
              </tr>
            </table>
            <i>Information: Diese Daten, sowie die Daten in den Tooltips beziehen sich auf alle Messungen die für die entsprechende Strasse gemacht wurden.<br>
            Zum Beispiel ist der Durchschnitt (Richtung 1) aus allen Messungen für diese Strasse ({{radar.streetName}}, Richtung 1) berechnet. </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
